.commentBox__container {
  position: relative;
  width: 100%;
  animation: fadeIn 300ms;
  margin: 20px 0;
}
.commentBox {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 25px;
  margin-bottom: 20px;
}
.commentBox__rate {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(223, 19%, 93%);
  border-radius: 10px;
  margin-right: 25px;
}
.commentBox__rateBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: filter 200ms ease-in-out, transform 200ms ease-in-out;
}
.commentBox__rateBtn:disabled {
  cursor: not-allowed;
}
.commentBox__rateBtn:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.commentBox__rateBtn:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.commentBox__rateBtn.btn-active {
  filter: brightness(0.4);
  transform: scale(1.1);
}
.commentBox__likes {
  font-weight: 500;
  color: hsl(238, 40%, 52%);
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 15px;
}
.commentBox__body {
  position: relative;
  width: 100%;
}
.commentBox__topBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentBox__userDetails {
  display: flex;
  align-items: center;
}
.commentBox__usernameAndDate {
  display: flex;
  margin: 0 20px;
}
.commentBox__usernameAndBadge {
  display: flex;
  align-items: center;
}
.commentBox__username {
  font-weight: 700;
  color: hsl(212, 24%, 26%);
}
.commentBox__badge {
  background-color: hsl(238, 40%, 52%);
  color: white;
  font-size: 0.85rem;
  padding: 3px 5px;
  border-radius: 3px;
  margin-left: 10px;
}
.commentBox__commentDate {
  color: hsl(211, 10%, 45%);
  margin-left: 20px;
}
.commentBox__editModeBtnsContainer {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.commentBox__btns {
  position: relative;
  display: flex;
}
.commentBox__btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
}
.commentBox__btn.update-btn {
  text-transform: uppercase;
  padding: 12px 25px;
}
.commentBox__btn.fill {
  background-color: hsl(238, 40%, 52%);
  color: white;
  border-radius: 5px;
  font-weight: normal;
}
.commentBox__btn.normal {
  color: hsl(238, 40%, 52%);
  background: none;
}
.commentBox__btn.delete-btn {
  color: hsl(358, 79%, 66%);
}
.commentBox__btn span {
  margin-left: 10px;
}
.commentBox__btn.fill span {
  margin: 0;
}
.commentBox__text {
  position: relative;
  margin-top: 15px;
}
.commentBox__replyToUser {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}
.commentBox__textarea {
  width: 100%;
  min-height: 100px;
  border: solid #e8e9ed 1px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical;
}
.commentBox__textarea:focus {
  outline: solid hsl(238, 40%, 52%) 1px;
}
.commentBox__mention {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}
.commentBox__text p {
  color: hsl(211, 10%, 45%);
  line-height: 25px;
  flex-grow: 1;
}
.commentBox__replyCommentsContainer {
  width: 100%;
}
.commentBox__replyContainer {
  position: relative;
  display: flex;
}
.commentBox__replyContainer .commentBox__container:last-of-type .commentBox {
  margin-bottom: 0;
}
.commentBox__helperLine {
  position: relative;
  width: 5px;
  background-color: #e8e9ed;
  margin: 0 44px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 750px) {
  .commentBox {
    flex-direction: column-reverse;
  }
  .commentBox__rate {
    flex-direction: row;
    margin-top: 15px;
  }
  .commentBox__likes {
    font-weight: 500;
    color: hsl(238, 40%, 52%);
    margin: 5px;
  }
  .commentBox__helperLine {
    margin: 0;
    margin-right: 20px;
    width: 5px;
  }
  .commentBox__usernameAndDate {
    flex-direction: column;
  }
  .commentBox__commentDate {
    color: hsl(211, 10%, 45%);
    margin-left: 0px;
    font-size: 0.85rem;
    margin-top: 3px;
  }
  .commentBox__btn span {
    margin-left: 10px;
    display: none;
  }
}
