* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: #f5f6fa;
}
button {
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}
button:hover {
  opacity: 0.65;
}
